* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #fecb33;
  --black: #141416;
  --grey: #787e91;
  --red: #871a1f;
  --light-grey: #787e91;
  --lighter-grey: #e4e4e4;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--black);
  padding: 40px 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.75s;
}

.navbar ul li a:hover {
  color: var(--yellow);
}

.navbar ul li:nth-last-child(2) a {
  margin-left: 30px;
}

.navbar .logo img {
  width: 30px; /* Set the width */
  height: auto; /* Keeps aspect ratio */
  vertical-align: middle; /* Aligns with text */
  margin-right: 10px;
}
.emblem {
  display: inline-flex;
  flex-direction: column;
  font-weight: 600;
}

.emblem .emblem-sm {
  color: var(--yellow);
  display: block;
  font-size: 10px;
}

/* Utility */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.red {
  color: var(--red);
}

/* Text Effects */
.text-effect {
  background: linear-gradient(90deg, #871a1f, #c92228, #ec4c51, #9a3032);
}

/* Icons */
.btn-light img {
  width: 20px; /* Set the width */
  height: auto; /* Keeps aspect ratio */
  vertical-align: middle; /* Aligns with text */
  margin-left: 2px;
}

/* Buttons */
.btn {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: 0.75s;
}

.btn-dark {
  display: inline-block;
  margin: 0px 15px;
  padding: 13px 20px;
  border: 2px solid var(--grey);
  border-radius: 30px;
}

.btn-light {
  display: inline-block;
  padding: 13px 20px;
  border: 2px solid var(--yellow);
  border-radius: 30px;
  background-color: var(--yellow);
}

.btn-light:hover {
  opacity: 0.8;
}
.btn-light:hover i {
  color: var(--black);
  background-color: var(--yellow);
  transition: 0.75s ease-in-out;
}

.btn-primary {
  background: var(--yellow);
  color: white;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */

.text-xxl {
  font-size: 8rem;
}

.text-xl {
  font-size: 3rem;
}

/* Hero */
.hero {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("../images/group1.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  height: 85vh;
  width: 100%;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 0.9;
}

.hero-heading span:nth-last-child(2) {
  padding-top: 150px;
}

.hero-text {
  color: white;
  font-size: 2rem;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.hero-text span:first-child {
  padding-top: 20px;
}

.hero-text .hero-coed-text {
  font-weight: 600;
}

/* About Us */
.about {
  height: 85vh;
}

.about-heading {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.about-subheading {
  color: var(--yellow);
  display: flex;
  justify-content: left;
  align-items: left;
  font-weight: 600;
  margin-right: 900px;
}

.about-description {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  gap: 100px;
}

.description-text {
  color: var(--light-grey);
  text-align: left;
  flex: 1;
  max-width: 50%;
}

.description-image {
  width: 50%;
  max-width: 700px;
  height: auto;
}

/* Values & Cards */

.values {
  background-color: #1f1f1f;
  height: 55vh;
}

.values-heading {
  color: var(--lighter-grey);
  padding: 40px 0px 30px 0px;
}

.values-labels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.card-number {
  font-size: 60px;
  font-weight: 600;
  color: var(--lighter-grey);
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
}

.card-name {
  font-size: 25px;
  font-weight: 600;
  color: var(--yellow);
  padding-bottom: 30px;
}

.card-text {
  font-size: 20px;
  color: var(--lighter-grey);
}
